<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：名称空间-->
<mapper namespace="com.bronya.mapper.userMapper">
    <!--parameterType="int" 参数类型，一般省略-->
    <!--特殊字符处理方法：
    1.转义字符：小于号：&lt;
    2.CDATA区：<![CDATA[
        <
    ]]>
    -->
    <select id="selectAll" parameterType="int" resultType="com.bronya.pojo.User">
        select * from tb_user;
    </select>
</mapper>